@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --primary-color: #10b981;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
}

.sidebar-transition {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}
